<form>
    <div class="form-group">
        <label for="Nome"> Super Nome</label>
        <input type="text" class="form-control" placeholder="Digite o Super Nome">
    </div>

    <br />

    <div class="form-group">
        <label for="IdentidadeSecreta"> Identidade Secreta</label>
        <input type="text" class="form-control" placeholder="Digite a Identidade Secreta">
    </div>

    <br />

    <div class="form-group">
        <label for="Poder"> Poder Principal</label>
        <input type="text" class="form-control" placeholder="Digite o Poder Principal">
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Editar</button>
    <a class="btn btn-secondary" role="button" asp-controller="Personagens" asp-action="Index">Cancelar</a>
</form>
