
<div class="text-center">
    <h2>Realmente deseja realizar a exclusão? </h2>
    <form>
        <br />

        <button type="submit" class="btn btn-danger">Excluir</button>
        <a class="btn btn-secondary" role="button" asp-controller="Personagens" asp-action="Index">Cancelar</a>
    </form>
</div>
